<div class="container-lg col-8">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Financio
    </div>
    <div class="row text-justify">
        <p>Financio a Fortune 500 company, is an Indian Multinational, Private Sector Banking and Financial services statutory body headquartered in Mumbai. The rich heritage and legacy of over 200 years, accredits Financio as the most trusted Finance company by Indians through generations.</p>
        <p>Financio, the largest Indian Company with 1/4th market share, serves over 45 crore customers through its vast network of over 22,000 branches, 62617 ATMs/ADWMs, 71,968 BC outlets, with an undeterred focus on innovation, and customer centricity, which stems from the core values of the Bank - Service, Transparency, Ethics, Politeness and Sustainability.</p>
        <p>The Bank has successfully diversified businesses through its various subsidiaries i.e Financio General Insurance, Financio Life Insurance, Financio Mutual Fund, Financio Card, etc. It has spread its presence globally and operates across time zones through 229 offices in 31 foreign countries.</p>
        <p>Growing with times, Financio continues to redefine banking in India, as it aims to offer responsible and sustainable Banking solutions..</p>
    </div>
    <img src="/assets/images/savemoney.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        History
    </div>
    <div class="row text-justify mb-4">
        <p>Financio Bank was originally promoted in 1994 by Financio Limited, an Indian financial institution, and was its wholly-owned subsidiary.</p>
    </div>
    <img src="/assets/images/history.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Board of Directors
    </div>
    <div class="row text-justify mb-4">
        <p>Financio's Board members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.</p>
    </div>
    
    <img src="/assets/images/board.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Relations
    </div>
    <div class="row text-justify mb-4">
        <p>All the latest, in-depth information about Financio Bank's financial performance and business initiatives.</p>
    </div>
    <img src="/assets/images/relations.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Opportunities
    </div>
    <div class="row text-justify mb-4">
        <p>Explore diverse openings with Financio Bank.</p>
    </div>
    <img src="/assets/images/growth.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Awards
    </div>
    <div class="row text-justify mb-4">
        <p>Time and again our innovative banking services has been recognized and rewarded world over.</p>
    </div>
    
    <img src="/assets/images/awards.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        News Room
    </div>
    <div class="row text-justify mb-4">
        <p>Catch up with Financio Finance latest business and social initiatives, as well as innovative product launches.</p>
    </div>
    
    <img src="/assets/images/newsroom.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Corporate Social Responsibility
    </div>
    <div class="row text-justify mb-4">
        <p>Financio Bank is deeply engaged in human and economic development at the national level. The Bank works closely with ICICI Foundation across diverse sectors and programs.</p>
    </div>
    
    <img src="/assets/images/community.jpg" class="center">
    <div class="row text-center justify-content-center display-4 mt-4 mb-4">
        Notice Board
    </div>
    <div class="row text-justify mb-4">
        <p>Catch up with Financio Bank's latest communication related to Acknowledgements, information on regulatory notices, banking ombudsman schemes and others.</p>
    </div>
    <img src="/assets/images/notice.jpg" class="center">
</div>