<div *ngIf="serverJsonResponse" style="position: fixed; top: 20%; left: 50%; transform: translate(-50%, -50%); z-index:100; max-width:80%;">
    <p>
        <ngb-alert [type]="serverJsonResponse.status==200 ? 'success' : 'danger'" (closed)="closeAlert()">{{ serverJsonResponse.message }}</ngb-alert>
    </p>
</div>
<div class="container-lg">    
    <div class="row mt-4 mb-4 justify-content-center display-2">
        Change Password
    </div>
    <div class="row justify-content-center mt-4 mb-4">
        <form class="col-10" [formGroup]="changePasswordForm" (ngSubmit)="OnSubmit()" style="height: 70vh;">
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="currentPassword">Current Password</label>
                    <input type="password" class="form-control" id="currentPassword" placeholder="Enter Current Password" formControlName="currentPassword" [class.is-invalid]="(changePasswordForm.controls['currentPassword'].dirty || changePasswordForm.controls['currentPassword'].touched) && !changePasswordForm.controls['currentPassword'].valid" [class.is-valid]="(changePasswordForm.controls['currentPassword'].dirty || changePasswordForm.controls['currentPassword'].touched) && changePasswordForm.controls['currentPassword'].valid">
                    <small *ngIf="(changePasswordForm.controls['currentPassword'].dirty || changePasswordForm.controls['currentPassword'].touched) && !changePasswordForm.controls['currentPassword'].valid" class="text-danger">
                        Enter current password.
                    </small>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="newPassword">New Password</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="Enter New Password" formControlName="newPassword" [class.is-invalid]="(changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched) && !changePasswordForm.controls['newPassword'].valid" [class.is-valid]="(changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched) && changePasswordForm.controls['newPassword'].valid">
                    <small *ngIf="(changePasswordForm.controls['newPassword'].dirty || changePasswordForm.controls['newPassword'].touched) && !changePasswordForm.controls['newPassword'].valid" class="text-danger">
                        Enter a valid password with minimum eight characters, at least one uppercase and lower case letter, atleast one number and atleast one special character
                    </small>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6">
                    <label for="confirmNewPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmNewPassword" placeholder="Enter Confirm Password" formControlName="confirmNewPassword" [class.is-invalid]="(changePasswordForm.controls['confirmNewPassword'].dirty || changePasswordForm.controls['confirmNewPassword'].touched) && !changePasswordForm.controls['confirmNewPassword'].valid" [class.is-valid]="(changePasswordForm.controls['confirmNewPassword'].dirty || changePasswordForm.controls['confirmNewPassword'].touched) && changePasswordForm.controls['confirmNewPassword'].valid">
                    <small *ngIf="(changePasswordForm.controls['confirmNewPassword'].dirty || changePasswordForm.controls['confirmNewPassword'].touched) && !changePasswordForm.controls['confirmNewPassword'].valid" class="text-danger">
                        Password field does not match
                    </small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 text-center">
                    <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
                </div>
            </div>
        </form>
    </div>
</div>