<footer class="p-4" style="background-color: #001e6c">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-3 mb-0">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="''">Products</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="'/aboutus'">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="'/aboutus'">Awards</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="'/aboutus'">Help</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a [routerLink]="'/termsandconditions'">Policies</a>
        </h6>
      </div>
    </div>
    <div class="row text-center justify-content-center">
      <div class="footer-copyright text-center py-3" id="copyright">
        © 2021 Copyright:
        <a class="app-link" [routerLink]="''"> FinancioFinance.com</a>
      </div>
    </div>
  </div>
</footer>
