<div class="title-text text-center mt-4 mb-4"><h3>Terms and Conditions</h3></div>
<div class="body-text mx-4 mb-4">
  <ul>
    <li class="mt-2">
      You understand that on choosing No-Cost EMI payment option using Financio
      Card, you will get a discount upfront equal to the interest cost due to
      the banks making it effectively no interest cost.
    </li>
    <li class="mt-2">
      You understand that No Cost EMI payment option is available on products
      sold by select sellers only.
    </li>
    <li class="mt-2">
      The discount applicable on opting for ‘No Cost EMI on Financio Card’ is
      being offered exclusively by the sellers and does not amount to
      EMI/interest waiver extended by the bank.
    </li>
    <li class="mt-2">
      You understand and confirm that You will need to pay applicable EMI and
      interest on total value of the order at the time of payment to the banks
      in accordance with the terms applicable to the card.
    </li>
    <li class="mt-2">
      The interest cost charged by the bank over time is being given back to You
      upfront at the time of this purchase and netted off in the invoice amount
    </li>
    <li class="mt-2">
      The discretion to allow the payment lies with the bank issuing the credit
      card. Urban Ladder will have no obligation or liability in the event the
      bank refuses to process the transaction for any reason.
    </li>
    <li class="mt-2">
      The Bank charges annual interest rates according to the reducing monthly
      balance. In the monthly reducing cycle, the principal is reduced with
      every EMI and the interest is calculated on the outstanding balance.
    </li>
    <li class="mt-2">
      You understand that if You fail in timely payment of EMI, there may be
      additional interests/penalty which may be levied by the bank which may be
      higher than the discount offered under this scheme.
    </li>
    <li class="mt-2">
      In a single transaction, payment through ‘No Cost EMI using Credit Card’
      can be made for a cart if the selected tenure & bank are same for all the
      items.
    </li>
    <li class="mt-2">
      Any returns/cancellation will be as per Urban Ladder’s return/cancellation
      policy. In case of any kind of return/refund in an EMI transaction,
      interest already billed in a particular transaction will not be refundable
      under any circumstances.
    </li>
    <li class="mt-2">
      Urban Ladder will not charge a processing fee for availing EMI option. The
      banks may however charge processing fee or cancellation charges as per the
      banks policies. Such charges shall be paid by You and will not be
      refundable even in the event of return/cancellation of the order.
    </li>
    <li class="mt-2">
      You may check with the respective bank/issuer on how a cancellation,
      refund or pre-closure could affect the EMI terms, and what interest
      charges would be levied on you for the same
    </li>
    <li class="mt-2">
      Urban Ladder retains the right to modify or cancel this scheme at its sole
      discretion.
    </li>
    <li class="mt-2">
      You understand that for select products there may be a constraint on
      number of transactions per credit card.
    </li>
    <li class="mt-2">
      Customers may be charged service tax or other applicable taxes by the bank
      for these transactions.
    </li>
    <li class="mt-2">
      This offer is not available on the “Card on Delivery” option.
    </li>
  </ul>
</div>
