.title-text{
    padding: 2%;
    color: rgb(64, 30, 105);
    font-family: 'Times New Roman', Times, serif;

}

.body-text{
    color: rgb(85, 8, 173);
    font-family: 'Times New Roman', Times, serif;

}